.product__item{
    border: 1px solid yellow;
    text-align: center;
    padding: 30px;
    cursor: pointer;
}

.product__img{
    margin-bottom: 20px;
}

.product__img:hover img{
    transform: scale(1);
}

.product__content h5 a{
    color: black;    
}

